In [7]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split,cross_val_score,RepeatedKFold
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_squared_error, r2_score

In [8]:
df = pd.read_csv('/content/drive/MyDrive/ML/housing.csv')
df.head()

   longitude  latitude  housing_median_age  ...  households  median_income  median_house_value
0    -122.23     37.88                  41  ...         126         8.3252              452600
1    -122.22     37.86                  21  ...        1138         8.3014              358500
2    -122.24     37.85                  52  ...         177         7.2574              352100
3    -122.25     37.85                  52  ...         219         5.6431              341300
4    -122.25     37.85                  52  ...         259         3.8462              342200

[5 rows x 9 columns]

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  int64
 3   total_rooms         20640 non-null  int64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  int64
 6   households          20640 non-null  int64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  int64
dtypes: float64(4), int64(5)
memory usage: 1.4 MB

In [19]:
df = df.dropna(axis=1)

In [20]:
X = df.drop(['median_house_value'], axis=1)
y = df['median_house_value']

In [21]:
X_train, X_test, y_train, y_test=train_test_split(X, y, test_size=0.3, random_state=42)

Ridge_model = Ridge(alpha=1).fit(X_train, y_train)
Ridge_model.intercept_

-3582964.2557601263

In [22]:
df.isna().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
dtype: int64

In [23]:
y_pred = Ridge_model.predict(X_test)
np.sqrt(mean_squared_error(y_test, y_pred))

69656.61990029788

In [24]:
Ridge_model.coef_

array([-4.26320705e+04, -4.23006361e+04,  1.18533852e+03, -8.05595600e+00,
        1.19498236e+02, -3.75651898e+01,  3.97280731e+01,  4.03616167e+04])

In [25]:
r2_score(y_test, y_pred)

0.6303317005667713

In [31]:
from sklearn.model_selection import GridSearchCV
cv=RepeatedKFold(n_splits=10, n_repeats=3, random_state=1)

grid=dict()
grid['alpha'] = np.arange(0,1,0.1)
model=Ridge()
search=GridSearchCV(model, grid, scoring='neg_mean_absolute_error', cv=cv, n_jobs=-1)

results=search.fit(X_train, y_train)

print('MAE: %.3f' % results.best_score_)
print('Config: %s' % results.best_params_)

MAE: -50888.094
Config: {'alpha': 0.9}

In [32]:
Ridge_model=Ridge(alpha=0.7).fit(X_train, y_train)
y_pred = Ridge_model.predict(X_test)

np.sqrt(mean_squared_error(y_test, y_pred))

69656.65265403979

In [33]:
r2_score(y_test, y_pred)

0.630331352917892

In [36]:
pd.Series(Ridge_model.coef_, index=X_train.columns)

longitude            -42635.353448
latitude             -42303.699770
housing_median_age     1185.285906
total_rooms              -8.055656
total_bedrooms          119.502940
population              -37.565066
households               39.720326
median_income         40361.441110
dtype: float64